* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "custom";
@import "HomePage.scss";
@import "Moviepage.scss";
@import "Navbar.scss";
@import "SearchResults.scss";
@import "AuthPage.scss";
@import "Base.scss";
@import "JumboTron.scss";
@import "Carousel.scss";
@import "Sliders.scss";
@import "CastAndCrew.scss";
@import "MovieExtras.scss";
@import "StatsStyles.scss";
@import "WatchProvidersStyles.scss";
@import "Actors.scss";
@media screen and (max-width: 800px) {
  &::-webkit-scrollbar {
    display: none;
  }
}
