* {
  margin: 0;
  padding: 0;
}

.homepage {
  margin: 0;

  .full {
    display: flex;

    button {
      width: 100px;
      height: 100px;
      align-self: center;
    }
  }

  .list-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

    .list-item {
      text-align: center;
      font-size: 1.2em;
    }

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #a9e4fb;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: #4286f4;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(32, 73, 134);
    }
  }

  .trending-slider-container {
    margin-top: 3%;
  }

  .trailer-container {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #a9e4fb;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: #4286f4;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(32, 73, 134);
    }
    .trailer-slider-img {
      height: 180px;
      transition: transform 250ms;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 10px;
      filter: drop-shadow(6px 6px 4px #11112c);
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 0%
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/overlook-carpet-trans.svg);
  background-size: 169px 244px;
  margin-bottom: 5vh;
}

.slide {
  filter: drop-shadow(0 0 0.75rem #4286f4);
}

@media screen and (max-width: 800px) {
  .jumbotron {
    background-image: linear-gradient(to right, #4286f4, #373b44);
    background-size: cover;

    .jumbotron-carousel {
      display: none;
    }

    text-align: center;
    h1 {
      font-size: 20px;
    }
  }

  .jtc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .homepage-search {
      border-radius: 20px;
      padding: 5px;
      padding-right: 2px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      max-width: 60%;
    }
    .homepage-search:focus {
      outline: none;
    }

    .search-form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search-button {
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  #marquee-button {
    display: none;
  }

  .list-container::-webkit-scrollbar {
    display: none;
  }
}
