.movie-banner-container {
  .dropbtn {
    background-color: #4c77af;
    color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
  }

  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content p:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #132a4e;
  }

  background: rgb(2, 0, 36);

  img {
    border-radius: 15px;
    height: 450px;
    filter: drop-shadow(5px 6px 5px rgb(3, 2, 5));
  }

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00a8ff",GradientType=1);
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;

  color: white;
  .movie-banner-genres ul {
    display: flex;
    flex-direction: row;

    li {
      margin-right: 20px;
      list-style-type: none;
    }
  }

  .movie-banner-overview {
    justify-content: center;
  }
  .movie-banner-cast {
    display: flex;
    justify-content: flex-start;
  }
  .movie-banner-text {
    max-width: 50%;
    .movie-banner-cast-item {
      margin-right: 20px;
    }

    margin-left: 100px;
  }
}
.movie-page-container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.movie-page-left {
  .media-videos {
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #a9e4fb;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: #4286f4;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(32, 73, 134);
    }

    .media-video-item {
      margin: 0 10px 0 10px;
      iframe {
        border-radius: 15px;
      }
    }
  }

  .media-similar {
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #a9e4fb;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: #4286f4;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(32, 73, 134);
    }
    .similar-img-div {
      margin: 15px;
      .similar-img {
        height: 300px;
      }
    }
  }
}

.movie-page-right {
  .watchProviders-watch {
    margin: 50px 0 50px 0;
    img {
      margin: 15px;
      height: 50px;
      cursor: pointer;
      &:hover {
        border: solid 1px aquamarine;
      }
    }
  }
}

/*



mobile styles





*/
@media screen and (max-width: 450px) {
  .movie-page-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .movie-banner-container {
    padding: 0px;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px white;

    .movie-banner-poster {
      height: 150px;
    }
    #movie-banner-poster-container {
      width: 100%;
      padding: 10px;
    }

    .movie-banner-text {
      max-width: 100%;
      margin: 0;
      text-align: center;
      border-top: solid 1px white;

      h1 {
        font-size: 1.5rem;
      }

      .movie-banner-genres {
        ul {
          font-size: 0.7rem;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }

      .movie-banner-overview {
        padding: 10px;
        text-align: start;
        background-color: #090461;
        border-top: solid 1px white;
        border-bottom: solid 1px white;

        p {
          font-size: 0.6rem;
        }
      }

      .movie-banner-cast {
        margin-top: 10px;
        justify-content: space-around;
      }
    }
  }
}
