.watchProviders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 35px;
  border: solid black 2px;

  .watchProviders-watch {
    width: 90%;
  }
  h3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and(max-width: 800px) {
  .watchProviders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5px;
    .watchProviders-watch {
      width: 100%;
    }
    h3 {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
}
